@use '../utils/' as u;

.slider {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    width: 100vw;

    // scrolling
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 250ms ease-in;
    @include u.pm-block (margin,
        $top: 2rem, 
        $tab-top: 3.5rem, $tab-bottom: 3.5rem);
    @include u.pm-inline (padding,
        $left: 3rem);

    // disable scrolling bar
    &::-webkit-scrollbar {
        display: none;
    }
    &__card {
        scroll-snap-align: center;
        border-radius: 5px;
        max-width: 72vw;
        }
}