@use '../utils/' as u;

.slider {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    width: 100vw;

    // scrolling
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    //scrollbar-width: none;
    transition: transform 250ms ease-in;
    @include u.pm-block (margin,
        $top: 2rem, 
        $tab-top: 3.5rem, $tab-bottom: 3.5rem);
    // disable scrolling bar
    &::-webkit-scrollbar {
        display: none;
    }
    &__card {
        list-style: none;
        scroll-snap-align: center;
        &>img {
            border-radius: 5px;
            min-width: 72vw;
            min-height: 31vw;
        }
    }
}